.container {
    padding: 20px;
    
  }

  .container h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:40px ;
    margin: 15px;
  }
  
  .quiz-preview {
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
  }
  
  .card {
    background-color: #f7f9fc;
    border-radius: 10px;
    padding: 40px;
    max-width: 600px;
    margin: 60px auto;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .start-quiz-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .start-quiz-button:hover {
    background-color: #0056b3;
  }